body{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #9999ff;
    color: black;
}

*::selection{
color: #aaaaff;
background-color: black;
}

* {    /* Change your font family */
    font-family: sans-serif;
}

table, th, td {
    border: 2px solid black;
    font-size: 1.05rem;
    border-radius: 2px;
  }
table{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 30%;
    height: 80%;
    box-shadow: 0 0 10px black;
}


th{
    padding: 10px;
}
td{
    padding: 5px
}